extends layout/layout

block vars
    - var pageTitle = 'Главная страница'
    - var pageBodyClass = 'homepage'
    - var pageHeaderClass = ''

block content

    img(src="./assets/imgs/i-delete.svg" alt="delete")

    +icon('i-delete')